.ui-datatable-tablewrapper {
    min-height: 480px !important;
}

.ui-dialog-content {
    min-height: 620px !important;
}

.panel-filtros  > .ui-panel-content {
    display: flex;
}

body .ui-panelgrid .ui-panelgrid-cell {
    border: 0px;
}

.ui-panelgrid-cell, .ui-inputtext, .ui-inputtextarea, .ui-panelgrid, .ui-panelgrid tbody {
    width: auto;
}

.ui-selection-column {
    width: 16px;
}

.toolbar-filtros {
    width: 100%;
}