* {
    margin: 0;
}

body {
    min-height: 100vh;
    max-width: 100vw !important;
}

a {
    text-decoration: none;
}

.ui-panelgrid-cell, .ui-inputtext, .ui-inputtextarea, .ui-panelgrid, .ui-panelgrid tbody {
    width: 100%;
}

.input-converter > tbody > .ui-widget-content > *:first-child, .input-converter > tbody > .ui-widget-content > *:first-child > * {
    width: 2.356rem !important;
    text-align: center;
}

td.ui-panelgrid-cell {
    padding: .5rem 1rem !important;
}

.ui-inputgroup > tbody > tr > td {
    padding: 0px !important;
}
    
.button-group, .ui-datatable-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.button-group > * {
    border: none !important;
}

.ui-toolbar {
    justify-content: flex-end !important;
}

.ui-dialog-titlebar {
    background-color: #0288D1 !important;
    max-height: 72px !important;
}

.ui-dialog-titlebar, .ui-icon-closethick {
    color: white !important;
}

.ui-warning-dialog > .ui-dialog-titlebar, .ui-warning-dialog > .ui-dialog-footer > .ui-confirmdialog-yes {
    background-color: #FBC02D !important;
    color: black !important;
}

.ui-warning-dialog > .ui-dialog-content {
    padding-top: 2rem !important;
}

.output-codigo {
    width: 8rem;
}

.input-codigo > .ui-inputtext {
    width: 8rem !important;
}

.column-codigo {
    width: 100px;
    text-align: center;
}

.panelgrid-no-padding > * > * > * {
    padding: 0px !important;
}

*[disabled="disabled"] {
    color: black !important;
    background-color: lightgrey !important;
}