.sidebar {
    position: sticky !important;
    top: 5rem !important;

    width: 100%;

    text-align: center;
}

.sidebar > tbody > .ui-widget-content > .ui-panelgrid-cell > .ui-linkbutton {
    width: 100%;
}